# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Python & Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/
Pipfile.lock

# Jupyter Notebooks / Google Colab
.ipynb_checkpoints/


# SPECTRA-CQ Project Specific
# Ignore everything inside dataset folders (because the files are too large to upload on github)
data/2024-02-01_2024-10-31_ida_ki_export/**/*
data/20250506_openLAB_tests/**/*

# Keep directory structure
!data/2024-02-01_2024-10-31_ida_ki_export/**/
!data/20250506_openLAB_tests/**/

# Keep markdown/readme files
!data/2024-02-01_2024-10-31_ida_ki_export/**/*.md
!data/20250506_openLAB_tests/**/*.md