# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Python & Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/
Pipfile.lock

# Jupyter Notebooks / Google Colab
.ipynb_checkpoints/


# SPECTRA-CQ Project Specific
# Ignore large data files and model weights (these live in Colab/Drive)
data/raw/*
data/processed/*
data/metadata/*
results/checkpoints/*.pt

# EXCEPTIONS: Keep the directory structures intact in Git
#(Make sure to create an empty file named '.gitkeep' in these folders)
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/metadata/.gitkeep
!results/checkpoints/.gitkeep

# Dataset specific rules: ignore files, but keep directory structure and .md/.pdf
data/2024-02-01_2024-10-31_ida_ki_export/**/*
!data/2024-02-01_2024-10-31_ida_ki_export/**/
!data/2024-02-01_2024-10-31_ida_ki_export/**/*.md
!data/2024-02-01_2024-10-31_ida_ki_export/**/*.pdf

data/20250506_openLAB_tests/**/*
!data/20250506_openLAB_tests/**/
!data/20250506_openLAB_tests/**/*.md
!data/20250506_openLAB_tests/**/*.pdf