# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Python & Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/
Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Notebook checkpoints
data/
*.npy
*.csv
*.h5
.ipynb_checkpoints/

# PyTorch Model Weights
*.pt
*.pth
models/saved_weights/